gunicorn

Flask
Flask-CORS
flask-reverse-proxy-fix
flask-smorest
Flask-dotenv
flask-executor
marshmallow
marshmallow_dataclass[enum]
marshmallow_enum
colorama
structlog
python-dotenv

# for Universal link
sqlalchemy
pymysql
cryptography
pandas

minio
pyesdl
requests
influxdb

# Development dependencies
mypy
pylint-flask
pip-tools
black
flake8
